main > section{
    background-color: #185CC4;    
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
}

h3, h4{
    color: white;
}

section .p, section .p1{
    border: 2px solid #185CC4;
    padding: 10px;
    width: 90%;
    margin: 0px auto;
    color: black;
}

p .p{
    border-top: none;
}

p .p1{
    border-bottom: none;
}

.align {
    padding: 15px 14px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

form{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 50%;
    height: 100px;
    margin-bottom: 10px;
}

textarea{
    resize: none;
    width: 70%;
    border: #185CC4 solid 1px;
}

input[type=submit]{
    width: 20%;
    background-color: #FFBD38;
    border: none;
    color: white;
    font-size: larger;
    cursor: pointer;
}