body{
    display: grid;
    grid-template-areas: 'h h h'
                         'a m a2'
                         'f f f';
    grid-template-columns: 30% auto 30%;
}

/*---------------Header-------------------*/
header {
    grid-area: h;
}
/*---------------/Header-------------------*/

/*---------------Main-------------------*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    grid-area: m;
}

main > section{
    background-color: #003078;
    width: 500px;
}

h3 {
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.4s;
}

h3:hover {
    color: #C48917;
    transition-duration: 0.4s;
}
/*---------------/Main-------------------*/

/*---------------Aside-------------------*/
aside {
	width: 50%;
    align-content: center;
    grid-area: a2;

}

.button{
    background-color: #FFBD38;
    color: white;
}

aside a {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

aside a button {
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-size: 20px;
    background-color: #185CC4;
    border: none;
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 50%;
}

aside a button:hover {
    color: #FFBD38;
}
/*---------------/Aside-------------------*/

/*---------------Footer-------------------*/
footer {
    background-color: #003078;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    grid-area: f;
}
/*---------------/Footer-------------------*/