* {
  font-family: 'Teko', sans-serif;
  margin: 0;
}
/*------------Classes-----------------*/
.align {
  padding: 15px 14px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.block {
  background-color: #003078;
  width: 300px;
  font-size: 20px;
}

.imgsize {
  width: 50%;
}

/*------------/Classes-----------------*/

/*------------Header-----------------*/
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #003078;
}

header img {
  width: 261px;
}

nav {
  padding: 35px 0px;
}

nav li { 
  display: inline;
  padding: 10px 20px;
  font-size: 20px;
  color: #FFFFFF;
}

li button {
  color: #FFBD38;
  background-color: #003078;
  font-size: 20px;
  border: 1px solid #FFBD38;
  padding: 0px 10px;
  cursor: pointer;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #FFFFFF;
  transition-duration: 0.4s;
}

nav a:hover {
  color: #FFBD38;
  transition-duration: 0.4s;
}
/*------------/Header-----------------*/

/*------------Main-----------------*/
#img{
  display: block;
  width: 100%;
  height: auto;
}

main section {
  margin: 10px 0px;
  text-align: center;
  padding: 10px;
}

h2, h3{
  color: #185CC4;
  text-align: center;
  margin: 10px 0px;
  font-size: 30px;
}

p {
  color: #FFFFFF;
  text-transform: uppercase;
  align-items: center;
}

button{
    width: 10%;
    padding: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid #FFBD38;
    color: #FFBD38;
    cursor: pointer;
    transition-duration: 0.4s;
}

section button{
  width: 30%;
  padding: 5px;
  margin-top: 15px;
  background-color: #003078;
  border: 2px solid #FFBD38;
  cursor: pointer;
  transition-duration: 0.4s;
}

button a, button a:visited{
  text-decoration: none;
  color: #FFBD38;
}

/*------------/Main-----------------*/

/*------------Footer-----------------*/
footer {
  background-color: #003078;
  height: 50px;
  padding: 20px;
}
/*------------/Footer-----------------*/

#map, #mapa {
  display: block;
  height: 500px;
  width: 500px;
} 